In [ ]:
import pandas as pd
import matplotlib.pyplot as plt # importa a biblioteca matplotlib

In [4]:
#Cria dicionario dados1 e dados2
dados1 = {
    "Data":["01-01-2023","01-02-2023","01-03-2023"],
    "Produto":["Item A","Item B","Item A"],
    "Quantidade":[10,5,8],
    "Valor":[100.00,50.00,80.00]
    }
dados2 = {
    "Data":["01-02-2023","02-02-2023","03-02-2023"],
    "Produto":["Item C","Item B","Item D"],
    "Quantidade":[12,6,3],
    "Valor":[120.00,60.00,30.00]
    }
df1 = pd.DataFrame(dados1)
df2 = pd.DataFrame(dados2)

In [5]:
df1.head()

         Data Produto  Quantidade  Valor
0  01-01-2023  Item A          10  100.0
1  01-02-2023  Item B           5   50.0
2  01-03-2023  Item A           8   80.0

In [6]:
df2.head()

         Data Produto  Quantidade  Valor
0  01-02-2023  Item C          12  120.0
1  02-02-2023  Item B           6   60.0
2  03-02-2023  Item D           3   30.0

In [7]:
df_n = pd.concat([df1,df2]) # junta os dois dataframes

In [9]:
df_n.head(6)

         Data Produto  Quantidade  Valor
0  01-01-2023  Item A          10  100.0
1  01-02-2023  Item B           5   50.0
2  01-03-2023  Item A           8   80.0
0  01-02-2023  Item C          12  120.0
1  02-02-2023  Item B           6   60.0
2  03-02-2023  Item D           3   30.0

In [ ]:
plt.figure(figsize=(10,8)) # aumenta o tamanho do gráfico
plt.bar(df_n['Produto'],df_n['Quantidade'],color = 'red')
plt.xlabel("Nome do produto")
plt.ylabel("Quantidade")
plt.title("Produtos x quantidade de vendas")
plt.legend("Produtos",loc="upper right") # adiciona uma legenda ao gráfico